### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
venv/

# Annoying mac stuff
.DS_Store